* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
/* The background color beneath the header has a background color of white */
body {
    background-color: #d9dcd6;
}
/* The assigned class has font, color, and padding to header */
.header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}
/* The header title has a specified font sie, and side by side layout from the inline display */
.header h1 {
    display: inline-block;
    font-size: 48px;
}
/* The assigned class has only letter s-e-o */
.header h1 .seo {
    color: #d9dcd6;
}
/* The assigned classes contain specific properties for the header and section elements */
.header section {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}
/* No specified list style for list items in unorder list element */
.header section ul {
    list-style-type: none;
}
/* The assigned class affects header links to display next to eachother */
.header section ul li {
    display: inline-block;
    margin-left: 25px;
}
/* In web links are white in color */
a {
    color: white;
    text-decoration: none;
}
/* Text within sections and aside bar are all sized to 16px */
p {
    font-size: 16px;
}
/* The image of a group of people has properties listed under the class.groupphoto */
.groupphoto {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}

.float-left {
    float: left;
    margin-right: 25px;
}

.float-right {
    float: right;
    margin-left: 25px;
}
/* The three sections assigned to the class content all have the same properties */
.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}
/* The benefits class styled the aside bar */
.benefits {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}
/* The assigned class is within the aside bar for each section */
.benefit-lead {
    margin-bottom: 32px;
    color: white;
}
/* The assigned class is within the aside bar for each section */
.benefit-brand {
    margin-bottom: 32px;
    color: #ffffff;
}
/* The assigned class is within the aside bar for each section */
.benefit-cost {
    margin-bottom: 32px;
    color: #ffffff;
}
/* The assigned class is the text in the section within the aside bar */
.benefit-lead h3 {
    margin-bottom: 10px;
    text-align: center;
}
/* The assigned class is the text in the section within the aside bar */
.benefit-brand h3 {
    margin-bottom: 10px;
    text-align: center;
}
/* The assigned class is the text in the section within the aside bar */
.benefit-cost h3 {
    margin-bottom: 10px;
    text-align: center;
}
/* The assigned class has the image properties in the section within the aside bar */
.benefit-lead img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}
/* The assigned class has the image properties in the section within the aside bar */
.benefit-brand img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}
/* The assigned class has the image properties in the section within the aside bar */
.benefit-cost img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

.search-engine-optimization {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

.online-reputation-management {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

.social-media-marketing {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}
/* The assigned class has the image properties in the section within the main element */
.search-engine-optimization img {
    max-height: 200px;
}
/* The assigned class has the image properties in the section within the main element */
.online-reputation-management img {
    max-height: 200px;
}
/* The assigned class has the image properties in the section within the main element */
.social-media-marketing img {
    max-height: 200px;
}
/* The assigned class is the text in the section within the main element */
.search-engine-optimization h2 {
    margin-bottom: 20px;
    font-size: 36px;
}
/* The assigned class is the text in the section within the main element */
.online-reputation-management h2 {
    margin-bottom: 20px;
    font-size: 36px;
}
/* The assigned class is the text in the section within the main element */
.social-media-marketing h2 {
    margin-bottom: 20px;
    font-size: 36px;
}
/* The assigned class has cenetered text, added font, and sizing to footer element */
.footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}
/* The footer header text is less signifant to webpage therefore has a h4 element */
.footer h4 {
    font-size: 20px;
}
